<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.thoughtworks.ketsu.infrastructure.mybatis.mappers.JobMapper">
    <insert id="save" useGeneratedKeys="true" keyProperty="info.id">
        INSERT INTO JOBS (provider_id)
        VALUES (#{info.provider_id})
    </insert>

    <select id="findById" resultMap="records.job">
        SELECT
        <include refid="columns.job"/>
        FROM JOBCONTAINER AS JC LEFT JOIN JOBS AS J
        ON JC.job_id = J.id
        WHERE J.id = #{id}
    </select>

    <insert id="addContainer">
        INSERT INTO JOBCONTAINER (job_id, container_id)
        VALUES (#{job_id}, #{container_id})
    </insert>

    <select id="findAll" resultMap="records.job">
        SELECT
        <include refid="columns.job"/>
        FROM JOBCONTAINER AS JC LEFT JOIN JOBS AS J
        ON JC.job_id = J.id
    </select>

    <update id="update">
        UPDATE JOBS J SET J.id=#{info.id}, J.provider_id=#{info.provider_id} WHERE J.id=#{id}
    </update>

    <delete id="deleteContainers">
        DELETE FROM JOBCONTAINER WHERE job_id = #{job_id}
    </delete>
</mapper>
